<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="TrackChanges.Properties.Settings1" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <TrackChanges.Properties.Settings1>
            <setting name="ExportLoaction" serializeAs="String">
                <value />
            </setting>
            <setting name="TrackChanges" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="SessionID" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ChangesFileEnding" serializeAs="String">
                <value>_Changes</value>
            </setting>
            <setting name="ShowCurrentCanges" serializeAs="String">
                <value>False</value>
            </setting>
        </TrackChanges.Properties.Settings1>
    </userSettings>
</configuration>